case theme.comments.use[0]
  when 'Twikoo'
    include ./twikoo.pug
  when 'Disqus'
  when 'Disqusjs'
    include ./disqus.pug
  when 'Valine'
    include ./valine.pug
  when 'Waline'
    include ./waline.pug
  when 'Facebook Comments'
    include ./fb.pug
  when 'Remark42'
<<<<<<< HEAD
    include ./remark42.pug
  when 'Artalk'
    include ./artalk.pug
=======
    include ./remark42.pug
>>>>>>> e5e3a0e (my blog first commit)
