script.
  (() => {
    function loadWaline () {
      function initWaline () {
        let initData = {
          el: null,
          serverURL: '!{theme.waline.serverURL}',
          comment: true
        }
        const waline = Waline.init(initData)
      }

<<<<<<< HEAD
      if (typeof Waline === 'object') initWaline() 
=======
      if (typeof Waline === 'function') initWaline() 
>>>>>>> e5e3a0e (my blog first commit)
      else getScript('!{url_for(theme.asset.waline_js)}').then(initWaline)
    }

    window.pjax ? loadWaline() : window.addEventListener('load', loadWaline)
  })()
